.c-home{
        overflow-x: hidden;

        &__txt{
        position: relative;
        z-index: -1;
        margin-top: -6rem;
        }
}
  
  .ml7 {
        position: relative;
        font-weight: 900;
        font-size: 2em;
        top: 13rem;
        text-align: center;
        z-index: -1;
  }
  
  .ml7 .text-wrapper-title {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
  }
  
  .ml7 .letter {
        transform-origin: 0 100%;
        display: inline-block;
        line-height: 1em;
  }

  .subtitle{
      margin-top: 13rem;
      text-align: center;
      z-index: -1;
      position: relative;
      color: #837F67;
      -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  .desc-par{
      text-align: center; 
      margin-bottom: 7rem;
      margin: 0 1rem 0 1rem;
      -webkit-animation: bounce-in-left 1.1s both;
      animation: bounce-in-left 2.1s both;
  }

  .arrow{
        position: relative;
        z-index: -1;
        font-size: 7rem;
        margin-left: 17rem;
        margin-top: 9rem;
        transform: translatey(0px);
        animation: float 1s ease-in-out infinite;
    
  }

  .vertical-txt{
          font-size: 1.2rem;
          writing-mode:vertical-lr;
          margin-left: -2.3rem;
             
 
    
  }

  .square-1, .square-2 {
        height: 250px;
        width: 250px;
        position: relative;
        z-index: -1;
        -webkit-animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
        }

   .square-1{
        margin-left: 15rem;
        margin-top: -8rem;
        overflow-x: hidden; 
        background-color: #E54652;
   }
   
   .square-2{
        margin-top: -11rem;
        background-color: #FFBC42;
        height: 1250px;
   }


@-webkit-keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }
      @keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }
      


  @keyframes float {
        0% {
            transform: translatey(0px);
        }
    
        50% {
            transform: translatey(-10px);
        }
    
        100% {
            transform: translatey(0px);
       
        }
}


@-webkit-keyframes bounce-in-left {
        0% {
          -webkit-transform: translateX(-600px);
                  transform: translateX(-600px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateX(-68px);
                  transform: translateX(-68px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateX(-28px);
                  transform: translateX(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateX(-8px);
                  transform: translateX(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      @keyframes bounce-in-left {
        0% {
          -webkit-transform: translateX(-600px);
                  transform: translateX(-600px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateX(-68px);
                  transform: translateX(-68px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateX(-28px);
                  transform: translateX(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateX(-8px);
                  transform: translateX(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      

 
      @-webkit-keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
    






